.fuse_hidden*
*.tmp
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.sass-cache
*.css

# YARD artifacts
.yardoc
_yardoc
doc/

# Config and secrets
config.rb
!lib/ury-rapid/model/config.rb
test.sh

# Backups and swapfiles
*.sw[a-z]
*~

# I'm on a mac
*.DS_Store

# I use ST3
*.sublime-project
*.sublime-workspace

# Don't include the rendered gitbook
manual/_book
