.fuse_hidden*
*.tmp
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.sass-cache
*.css

# YARD artifacts
.yardoc
_yardoc
doc/

# Config and secrets
config.rb
test.sh

# Backups and swapfiles
*.sw[a-z]
*~

# I'm on a mac
*.DS_Store
