baps:
  host: HOST
  port: 9999
  username: USER
  password: PASS

server:
  rack: thin
  host: 0.0.0.0
  port: 8181
  root: /bra/
  cors:
    Allow-Origin:
      - "https://www.example.com"
    Allow-Headers:
      - accept
      - authorization
    Allow-Credentials:
      - "true"
    Allow-Methods:
      - "*"

model:
  num_channels: 3

users:
  test:
    password: TestPassword
    privileges:
      - SetPlayerState
      - SetPlayerPosition
      - EditPlaylist
