/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/typography/links/link-colors";
@import "compass/css3";

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic');
@import url('//fonts.googleapis.com/css?family=Comfortaa:700');
@import url('//fonts.googleapis.com/css?family=Share+Tech+Mono');

$size-border: 0.15rem;
$size-padding: 0.8rem;
$size-padding-thin: 0.2rem;
$size-inout: $size-padding * (2 / 3);

$colour-peeling-paper:    #058789;
$colour-escape:           #E3A72F;
$colour-puzzle-24000:     #D54B1A;
$colour-wooden-platforms: #503D2E;
$colour-lol:              #F0ECC9;

// Item type colours
$colour-0719mpd:          #DD8CA7;
$colour-mu-sky:           #BDB8EE;

$colour-kai:              #101F78;
$colour-black-tulip:      #420943;
$colour-not-quite-black:  #303030;
$colour-asian-red:        #A80000;

// Semantic colour names
$colour-outer-fg:           $colour-lol;
$colour-outer-bg:           $colour-wooden-platforms;
$colour-container-bg:       $colour-lol;
$colour-container-fg:       black;

@mixin border {
    border: $size-border solid black;
    padding: $size-padding;
    padding-bottom: 0;
}

@mixin font-normal {
    font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
}

@mixin font-title {
    font-family: Comfortaa, helvetica, arial, sans-serif;
}

a {
    @include link-colors(
        $colour-peeling-paper,
        $colour-escape,
        $colour-escape,
        $colour-puzzle-24000
    );
}


html {
		@include font-normal;

    text-align: center;
    font-size: 16pt;

    strong {
        font-weight: bold;
    }

    background-color: $colour-outer-bg;
    color: $colour-outer-fg;

    body {
        >section, >nav, >footer>section {
            font-size: 1rem !important;
            margin: $size-padding !important;

            color: $colour-container-fg;
            background-color: $colour-container-bg;
            display: inline-block;

            text-align: left;
            max-width: 90%;
        }

        >header {
            color: $colour-lol;
            margin: $size-padding;

            >hgroup {
                >h1 {
                    display: inline;
                    font-size: 3rem;
                }
                >h2 {
                    display: inline;
                    font-size: 1.2rem;
                }
            }
        }

        >footer {
            color: $colour-lol;
            >p.legal {
                font-size: 0.8rem;
            }
        }
    }
}

h1, h2, h3 {
    @include font-title;
    text-align: left;
}

h1, h2, h3, section, nav, p, ol {
    margin-bottom: $size-padding;
}

section, nav {
    @include border;

    position: relative;

    font-size: 0.9em;
}

nav h1 {
    display: none;
}

h1, h2, h3 {
    font-size: 1.2em;
}

ol.channels-list {
    text-align: left;
    border-collapse: separate;
    border-spacing: $size-padding;

    display: flex;
    flex: 1;
    align-items: stretch;
    margin: 0 auto;

    >li {
        display: flex;
        flex-direction: column;

        flex: 1;
        // Remove duplicate borders.
        &:not(:first-child)>section {
            border-left: 0;
        }
    }
}

section.channel {
    @include border;

    display: flex;
    flex-direction: column;
    flex: 1;

    >section, >nav, >ol {
        background-color: $colour-lol;
    }

    >section.playlist {
        flex: 1;
    }
}

// Nested player variables have some special formatting.
section>section.player-variable {
		display: block !important;
		h1 {
				@include font-normal;
				font-weight: bold;
				font-size: 1em;
				margin: 0;
		}
		p {
				text-align: right;
		}
}

section.player-states,
section.player-primary-markers,
section.player-secondary-markers {
    display: flex;

    border: none;
    padding: 0;
    margin-bottom: 0;

    > section {
        text-align: center;

        display: flex;
        flex: 1;

        &:not(:first-child) {
            border-left: 0;
        }

        >p {
            margin: 0 auto;
            margin-bottom: $size-padding;
        }
    }
}

.playing {
    background-color: $colour-peeling-paper;
}
.paused {
    background-color: $colour-escape;
}
.stopped {
    background-color: $colour-puzzle-24000;
}
.file {
    background-color: $colour-0719mpd;
}
.library {
    background-color: $colour-mu-sky;
}
.loading {
    background-color: $colour-black-tulip;
    color: $colour-lol;
}
.ok {
    background-color: $colour-kai;
    color: $colour-lol;
}
.failed {
    background-color: $colour-asian-red;
    color: $colour-lol;
}
.empty, .null {
    background-color: $colour-not-quite-black;
    color: $colour-lol;
}

.item {
    @include border;

    >section, >nav, >ol {
        background-color: $colour-lol;
    }
}

//p.item>span {
//    padding-bottom: $size-padding;
//        display: block;
//    }
//}
li.item, p.item {
  position: relative;
  padding: $size-padding-thin;
  padding-right: ($size-padding-thin + $size-inout);

  // Stop line-breaking and force an ellipsis instead.
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ol.playlist-items {
    // Prevent duplicate borders.
    li {
        &:not(:first-child) {
            border-top: 0;
        }
    }
}

nav.main-menu {
    border: none;
    text-align: center;

    li {
        @include border;

        display: inline-block;
        padding: $size-padding;
    }
}

nav.resources {
    clear: both;
}

.in, .out, .json {
    position: absolute;
    font-size: 0px;
    border: $size-border solid black;
    background-color: $colour-lol;
    width: $size-inout;
    height: $size-inout;
    display: block;

    &:hover {
        background-color: $colour-escape;
    }
}
.in {
    bottom: 0;
    right: 0;
    border-bottom: 0;
    border-right: 0;
}
.out {
    top: -($size-inout);
    left: -($size-inout);
}
.json {
    background-color: $colour-kai;
    border-top: 0;
    border-right: 0;
    top: 0;
    right: 0;
}

.legend {
    h1 {
        display: none;
    }
    >section {
        border: none;
        padding: 0;
        text-align: center;
        &:last-child {
            margin-bottom: $size-padding;
        }
    }
    p, span {
        position: relative;
        @include border;
        display: inline-block;
    }
    p {
        margin: $size-padding;
        padding: $size-padding;
        margin-bottom: 0;
    }
    span {
        padding: $size-padding-thin;
    }
}

pre.json_code {
    @include border;

    padding: $size-padding;

    background-color: white;
    font-family: "Share Tech Mono";
    margin-bottom: $size-padding;
}

// Toolbar
#toolbar {
    border: none;
    border-bottom: $size-padding-thin solid $colour-outer-fg;
    background: transparent;
    color: $colour-outer-fg;
    margin: $size-padding;
    padding: 0;
    padding-bottom: $size-padding-thin;
    display: flex;
    align-items: center;

    h1, .toolbar-button {
        @include font-title;
        font-size: 1.1rem;
        vertical-align: middle;
        margin: 0;
    }

    h1 {
        flex: 3;
        display: inline;
        text-align: left;
    }
    label {
        flex: 2;
        text-align: right;
        margin-right: $size-padding-thin;
    }
    #toolbar-data {
        flex: 6;
        margin-right: $size-padding-thin;
    }
    .toolbar-button {
        flex: 1;
        cursor: pointer;
        padding: $size-padding-thin;

        background-color: $colour-container-bg;
        text-align: center;

        &:not(:first-child) {
            margin-right: $size-padding-thin;
        }
    }
}
