-#
  channel_set.haml - Playlist object

  channel_set - The item to display.
  inner       - If True, display a condensed channel set for display inside a
                channel object.  (Default: false.)

%section.channel_set
  %h1=inner ? resource_id : resource_url

  - if 0 < channel_set.size
    %ol.channels-list
      - channel_set.each_with_index do |channel, id|
        %li
          = haml(:channel,
                 locals: { inner: true,
                           resource_id: id,
                           resource_url: "#{resource_url}/#{id}",
                           channel: channel })
  = haml :in_out_links, locals: { resource_url: resource_url, inner: inner }
