%section.channel{ class: channel.player_state }
  %h1=channel.name

  = haml(:player, locals: { player: channel.player })
  = haml(:playlist, locals: { playlist: channel.playlist })

  %nav
    %h1 Resources
    %ul
      %li
        %a{ href: "/bra/channels" } Channel List
      %li
        %a{ href: "/bra/channels/#{channel.id}" } Channel
      %li
        %a{ href: "/bra/channels/#{channel.id}/player" } Player
