%section.channel{ class: channel.player_state_value }
  - in_channel_list ||= false

  %h1=channel.name

  = haml(:player, locals: { player: channel.player, in_channel: true })
  = haml(:playlist, locals: { playlist: channel.playlist, in_channel: true })

  - if in_channel_list
    %a.in{ href: url(channel.url) } In
  - unless in_channel_list
    %a.out{ href: url(channel.parent_url) } Out
