%section.channels
  %h1 Channels

  - if 0 < channels.size
    %ol.channels-list
      = list_of(channels) do |channel|
        = haml :channel, locals: {channel: channel}
  %nav.resources
    %h1 Resources
    %ul
      %li
        %a{ href: "/bra/" } root
