-#
-# channel.haml - Channel object
-#
-# channel - The item to display.
-# inner   - If True, display a condensed channel for display inside a
-#           channel list object.  (Default: false.)

%section.channel{ class: channel[:player][:state] }
  %h1=inner ? resource_id : resource_url

  - channel.each do |id, child|
    = haml(id,
           locals: { inner: true,
                     resource_id: id,
                     resource_url: "#{resource_url}/#{id}",
                     id => child })
  = haml(:in_out_links, locals: { resource_url: resource_url, inner: inner })
