%section.channels
  %h1 Channels

  - if 0 < channels.size
    %ol.channels-list
      = list_of(channels) do |channel|
        = haml :channel, locals: { channel: channel, in_channel_list: true }
  %a.out{ href: "/bra/" } Out
