-#
-# channel.haml - Channel object
-#
-# channel          - The item to display.
-# in_channel_list  - If True, display a condensed channel for display inside a
-#                    channel list object.  (Default: false.)

- in_channel_list ||= false

= haml(:json, locals: { name: :channel, item: channel }) if request.params.key? "json"
- unless request.params.key? "json"
  %section.channel{ class: channel.player_state_value }
    %h1=channel.name

    = haml(:player, locals: { player: channel.player, in_channel: true })
    = haml(:playlist, locals: { playlist: channel.playlist, in_channel: true })
    = haml(:in_out_links, locals: { item: channel, inwards: in_channel_list })
