-#
  json.haml - JSON inspector

  name - The symbol under which the item appears in the JSON hash.
  item - The object whose JSON should be displayed.

%section.json_inspector
  %h1 JSON for #{item.name}
  %pre.json_code=JSON.pretty_generate({ name => item.to_jsonable })
  %a.out{ href: url(item.url) } Out
