!!! 5
%html
  %head
    %title BRA API Inspector
    %link{ href: url('/stylesheets/screen.css'), media: 'screen, projection', rel: 'stylesheet', type: 'text/css' }
    %link{ href: url('/stylesheets/print.css'), media:'print', rel:'stylesheet', type:'text/css' }
  %body
    %header
      %hgroup
        %h1 bra
        %h2 API Inspector

    = yield

    %footer
      = haml :legend

      %p.legal
        Style is Creative Commons BY-NC-SA 3.0.
        = surround "Palette by ", "." do
          %a{ href: 'http://www.colourlovers.com/palette/1047246/Playroom'}><
            pseudonympho
    %script{ src: '//code.jquery.com/jquery-2.0.3.min.js' }
    %script{ src: url('/scripts/main.js') }
