-#
  out_links.haml - Links allowing outward inspection of parent items.

  item - The item for which links are to be rendered.

%a.out{ href: url(resource_url.rpartition('/').first) } Out
%a.json{ href: "#{url(resource_url)}?json" } JSON
