-#
  playlist.haml - Playlist object

  playlist    - The item to display.
  in_channel  - If True, display a condensed playlist for display inside a
                channel object.  (Default: false.)

- in_channel ||= false

= haml(:json, locals: { name: :playlist, item: playlist }) if request.params.key? "json"

- unless request.params.key? "json"
  %section.channel-playlist

    %h1=in_channel ? "Playlist" : playlist.name
    - unless 0 < playlist.size
      %p No items.

    - if 0 < playlist.size
      %ol.playlist-items
        - playlist.contents.each do |item|
          %li.item{ class: item.type }
            = haml :item, locals: { item: item, in_playlist: true }

    = haml(:in_out_links, locals: { item: playlist, inwards: in_channel })
