%section.player-marker
  - in_player ||= false

  %p
    - preamble = "Cue is " if in_player
    - preamble = "#{cue.player_channel_name}'s cue is " unless in_player
    = surround preamble, "msec." do
      %strong= cue.value

  - if in_player
    %a.in{ href: url(cue.url) } In
  - unless in_player
    %a.out{ href: url(cue.parent_url) } Out
