%section.channel-playlist
  - in_channel ||= false

  %h1=in_channel ? "Playlist" : playlist.name
  - unless 0 < playlist.size
    %p No items.

  - if 0 < playlist.size
    %ol.playlist-items
      - playlist.contents.each do |item|
        %li.item{ class: item.type }
          = haml :item, locals: { item: item, in_playlist: true }

  - if in_channel
    %a.in{ href: url(playlist.url) } In
  - unless in_channel
    %a.out{ href: url(playlist.parent_url) } Out
