%section.index
  %h1 Index
  %p
    Welcome to the BRA API inspector.
  %p
    For machine readable API output, please set the
    %strong Accept
    header (application/json is preferred).
  %nav.main-menu
    %h1 Main Menu
    %ul
      %li
        %a{ href: url('/channels') } Channels

