%section.index
  %h1 Index
  %p
    Welcome to the BRA API inspector.
  %p
    For machine readable API output, please set the
    %strong Accept
    header (application/json is preferred).
  %nav.main-menu
    %h1 Main Menu
    %ul
      %li
        %a{ href: url('/channels') } Channels
  %section.updates
    %h1 Update Console
    %p
      If JavaScript and WebSockets are enabled, raw bra update notifications
      will appear here.  This can be used to test that the WebSocket updates
      system is working.
    %p#status
      No connection (yet).
    %pre#update-console
    %script{ src: url('/scripts/update.js') }

