-# json.haml - JSON inspector

%section.json_inspector
  %h1 JSON for #{inspector.title}
  %pre.json_code=JSON.pretty_generate(inspector.raw_resource)
  %a.out{ href: url(inspector.resource_url),
          title: "Go back to the inspector view for this resource." } Out

