%section.player-load-state{ class: load_state.value }
  - in_player ||= false

  %p
    - preamble = "Load state is " if in_player
    - preamble = "#{load_state.player_channel_name}'s load state is " unless in_player
    = surround preamble, "." do
      %strong= load_state.value

  - if in_player
    %a.in{ href: url(load_state.url) } In
  - unless in_player
    %a.out{ href: url(load_state.parent_url) } Out
