-# playlist.haml - Playlist object

%section.playlist
  %h1=inner ? resource_id : resource_url
  - unless 0 < playlist.size
    %p No items.

  - if 0 < playlist.size
    %ol.playlist-items
      - playlist.each_with_index do |item, id|
        %li.item{ class: item[:type] }
          = haml(:item, locals: { inner: true,
                                  item: item,
                                  resource_id: id,
                                  resource_url: "#{resource_url}/#{id}" })

  = haml(:in_out_links, locals: { resource_url: resource_url, inner: inner })
