-# player_set.haml - PlayerSet objects

%section.player-set
  %h1=inner ? resource_id : resource_url

  %div.players
    - player_set.each do |id, player|
      = haml(:player,
             locals: { inner: true,
                       resource_id: id,
                       resource_url: "#{resource_url}/#{id}",
                       player: player })

  = haml :in_out_links, locals: { resource_url: resource_url, inner: inner }
