-# player.haml - Player object

- player = inspector.resource

- var_groups = { "states" => %i{state load_state},
                 "primary-markers" => %i{position duration},
                 "secondary-markers" => %i{cue intro} }

%section.player
  %h1=inspector.title
  - var_groups.each do |group, ids|
    %section{class: "player-#{group}"}
      - ids.each do |id|
        = child(inspector, id)

  - if player[:item]
    %p.item{ class: player[:item][:type]}
      = child(inspector, :item)

  = navigation(inspector)
