-#
-#  player_variable.haml - Player variable object (generic template).
-#
-#  variable   - The item to display.
-#  in_player  - If True, display a condensed variable for display inside a
-#               channel object.  (Default: false.)
-#  suffix     - An optional suffix to add after the value.  (Default: blank.)

-# Shorten this a bit.
%section.player-variable{ class: player_variable }
  %h1=inner ? resource_id : resource_url
  %p=player_variable

  = haml(:in_out_links, locals: { resource_url: resource_url, inner: inner })
