-# playlist.haml - Playlist object

%section.playlist
  %h1=inspector.title
  - playlist = inspector.resource
  - unless 0 < playlist.size
    %p No items.

  - if 0 < playlist.size
    %ol.playlist-items
      - playlist.each_with_index do |item, id|
        %li.item{ class: item[:type] }
          = child(inspector, id)

  = navigation(inspector)
