%section.index
  %h1 Index
  %p
    Welcome to the BRA API inspector.
  %p
    For machine readable API output, please set the
    %strong Accept
    header (application/json is preferred).

  %section.model
    %h1=inner ? resource_id : resource_url

    = haml(:playlist_set,
      locals: { inner: true,
                resource_id: :playlists,
                resource_url: "#{resource_url}/playlists",
                playlist_set: root[:playlists] })
    = haml(:player_set,
      locals: { inner: true,
                resource_id: :players,
                resource_url: "#{resource_url}/players",
                player_set: root[:players] })

  %section.updates
    %h1 Update Console
    %p
      If JavaScript and WebSockets are enabled, raw bra update notifications
      will appear here.  This can be used to test that the WebSocket updates
      system is working.
    %p#status
      No connection (yet).
    %pre#update-console
    %script{ src: url('/scripts/update.js') }

