-# set.haml - Set objects

%section.set
  %h1=inspector.title

  %div.players
    - if inspector.resource
      - inspector.resource.each do |id, item|
        = child(inspector, id)

  = navigation(inspector)
