-# variable.haml - Variable object (generic template).

-# Shorten this a bit.
%section.player-variable{ class: inspector.resource }
  %h1=inspector.title
  %p=inspector.resource

  = navigation(inspector)
