/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/typography/links/link-colors";
@import "compass/css3";

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic');
@import url('//fonts.googleapis.com/css?family=Comfortaa:700');
@import url('//fonts.googleapis.com/css?family=Share+Tech+Mono');

$size-border: 0.12rem;
$size-padding: 0.8rem;
$size-padding-thin: 0.2rem;
$size-inout: $size-padding * (2 / 3);

// Tango colour palette
$colour-butter-light:      #fce94f;
$colour-orange-light:      #fcaf3e;
$colour-chocolate-light:   #e9b96e;
$colour-chameleon-light:   #8ae234;
$colour-sky-blue-light:    #729fcf;
$colour-plum-light:        #ad7fa8;
$colour-scarlet-red-light: #ef2929;

$colour-butter:      #edd400;
$colour-orange:      #f57900;
$colour-chocolate:   #c17d11;
$colour-chameleon:   #73d216;
$colour-sky-blue:    #3465a4;
$colour-plum:        #75507b;
$colour-scarlet-red: #cc0000;

$colour-butter-dark:      #c4a000;
$colour-orange-dark:      #ce5c00;
$colour-chocolate-dark:   #8f5902;
$colour-chameleon-dark:   #4e9a06;
$colour-sky-blue-dark:    #204a87;
$colour-plum-dark:        #5c3566;
$colour-scarlet-red-dark: #a40000;

$colour-aluminium-1: #eeeeec;
$colour-aluminium-2: #d3d7cf;
$colour-aluminium-3: #babdb6;
$colour-aluminium-4: #888a85;
$colour-aluminium-5: #555753;
$colour-aluminium-6: #2e3436;

// Semantic colour names
$colour-outer-fg:           $colour-aluminium-1;
$colour-outer-bg:           $colour-sky-blue-dark;
$colour-container-bg:       $colour-aluminium-1;
$colour-container-fg:       $colour-aluminium-6;
$colour-set-bg:             $colour-aluminium-3;
$colour-set-fg:             $colour-aluminium-6;
$colour-variable-bg:        $colour-aluminium-2;
$colour-variable-fg:        $colour-aluminium-6;
$colour-border:             $colour-aluminium-6;

$colour-playing-bg: $colour-chameleon-light;
$colour-playing-fg: $colour-aluminium-6;
$colour-paused-bg:  $colour-butter-light;
$colour-paused-fg:  $colour-aluminium-6;
$colour-stopped-bg: $colour-scarlet-red-light;
$colour-stopped-fg: $colour-aluminium-6;

$colour-ok-bg:      $colour-sky-blue-dark;
$colour-ok-fg:      $colour-aluminium-1;
$colour-loading-bg: $colour-plum-dark;
$colour-loading-fg: $colour-aluminium-1;
$colour-failed-bg:  $colour-scarlet-red-dark;
$colour-failed-fg:  $colour-aluminium-1;
$colour-empty-bg:   $colour-aluminium-4;
$colour-empty-fg:   $colour-aluminium-1;

$colour-file-bg:    $colour-sky-blue-light;
$colour-file-fg:    $colour-aluminium-6;
$colour-library-bg: $colour-plum-light;
$colour-library-fg: $colour-aluminium-6;
$colour-text-bg:    $colour-chocolate-light;
$colour-text-fg:    $colour-aluminium-6;

$colour-nav-json:      $colour-aluminium-5;
$colour-nav-in-out:    $colour-aluminium-2;
$colour-nav-highlight: $colour-orange-light;

$colour-console-bg: $colour-aluminium-6;
$colour-console-fg: $colour-chameleon;

@mixin border {
    border: $size-border solid $colour-border;
    padding: $size-padding;
}

@mixin font-normal {
    font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
}

@mixin font-title {
    font-family: Comfortaa, helvetica, arial, sans-serif;
}

a {
    @include link-colors(
        $colour-sky-blue,
        $colour-scarlet-red-light,
        $colour-scarlet-red-light,
        $colour-plum
    );
}

html {
    @include font-normal;

    text-align: center;
    font-size: 16pt;

    strong {
        font-weight: bold;
    }

    background-color: $colour-outer-bg;
    color: $colour-outer-fg;

    body {
        >section, >nav, >footer>section {
            font-size: 1rem !important;
            margin: $size-padding auto !important;

            color: $colour-container-fg;
            background-color: $colour-container-bg;

            text-align: left;
            max-width: 80%;
            display: table;
        }

        >header {
            margin: $size-padding;

            >hgroup {
                >h1 {
                    display: inline;
                    font-size: 3rem;
                }
                >h2 {
                    display: inline;
                    font-size: 1.2rem;
                }
            }
        }

        >footer {
            >p.legal {
                font-size: 0.8rem;
            }
        }
    }
}

h1, h2, h3 {
    @include font-title;
    text-align: left;
    margin-bottom: $size-padding;
    font-size: 1.2em;
}

section, nav {
    @include border;

    position: relative;

    font-size: 0.9em;

    background-color: $colour-container-bg;
    color: $colour-container-fg;
}

section {
    margin: $size-padding-thin;
}
p:not(:last-child) {
    margin-bottom: $size-padding;
}

nav h1 {
    display: none;
}

.set {
    background-color: $colour-set-bg !important;
    color: $colour-set-fg !important;
}

// Make players and playlists line up horizontally.
.player_set, .playlist_set {
    &>div.set_contents {
        border-collapse: separate;
        border-spacing: $size-padding;

        display: flex;
        flex: 1;
        align-items: stretch;
        margin: 0 auto;

        >section {
            display: flex;
            flex-direction: column;

            flex: 1;
        }
    }
}

section.variable, section.constant {
    background-color: $colour-variable-bg;
    color: $colour-variable-fg;

    // Remove lower margin on the value.
    p {
        margin: 0;
    }
}

// Nested variables have some special formatting.
div>section, section>section {
    &.variable, &.constant {
        display: flex !important;

        h1 {
            display: inline;
            @include font-normal;
            font-weight: bold;
            font-size: 1em;
            margin: 0;
            margin-right: $size-padding-thin;
        }
        p {
            display: inline;
            flex: 1;
            text-align: right;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.playing {
    background-color: $colour-playing-bg !important;
    color: $colour-playing-fg !important;
}
.paused {
    background-color: $colour-paused-bg !important;
    color: $colour-paused-fg !important;
}
.stopped {
    background-color: $colour-stopped-bg !important;
    color: $colour-stopped-fg !important;
}
.file {
    background-color: $colour-file-bg !important;
    color: $colour-file-fg !important;
}
.text {
    background-color: $colour-text-bg !important;
    color: $colour-text-fg !important;
}
.library {
    background-color: $colour-library-bg !important;
    color: $colour-library-fg !important;
}
.loading {
    background-color: $colour-loading-bg !important;
    color: $colour-loading-fg !important;
}
.ok {
    background-color: $colour-ok-bg !important;
    color: $colour-ok-fg !important;
}
.failed {
    background-color: $colour-failed-bg !important;
    color: $colour-failed-fg !important;
}
.empty {
    background-color: $colour-empty-bg !important;
    color: $colour-empty-fg !important;
}

.item {
    @include border;

    >section, >nav, >ol {
        //background-color: $colour-lol;
    }
}

li.item, p.item {
  position: relative;
  padding: $size-padding-thin;
  padding-right: ($size-padding-thin + $size-inout);

  // Stop line-breaking and force an ellipsis instead.
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

p.item {
    margin: $size-padding-thin;
}

ol.playlist-items {
    // Prevent duplicate borders.
    li {
        &:not(:first-child) {
            border-top: 0;
        }
    }
}

nav.main-menu {
    border: none;
    text-align: center;

    li {
        @include border;

        display: inline-block;
        padding: $size-padding;
    }
}

nav.resources {
    clear: both;
}

.in, .out, .json {
    position: absolute;
    font-size: 0px;
    border: $size-border solid $colour-border;
    background-color: $colour-nav-in-out;
    width: $size-inout;
    height: $size-inout;
    display: block;

    &:hover {
        background-color: $colour-nav-highlight;
    }
}
.in {
    bottom: 0;
    right: 0;
    border-bottom: 0;
    border-right: 0;
}
.out {
    top: -($size-inout);
    left: -($size-inout);
}
.json {
    background-color: $colour-nav-json;
    border-top: 0;
    border-right: 0;
    top: 0;
    right: 0;
}

.legend {
    h1 {
        display: none;
    }
    >section {
        border: none;
        padding: 0;
        text-align: center;
        &:last-child {
            margin-bottom: $size-padding;
        }
    }
    p, span {
        position: relative;
        @include border;
        display: inline-block;
    }
    p {
        margin: $size-padding;
        padding: $size-padding;
        margin-bottom: 0;
    }
    span {
        padding: $size-padding-thin;
    }
}

// Console themeing.
pre.json_code, pre#update-console {
    @include border;

    padding: $size-padding;

    background-color: $colour-console-bg;
    color: $colour-console-fg;
    font-family: "Share Tech Mono";
    margin-bottom: $size-padding;
}

dt {
    font-weight:bold;
}
dd {
    margin-left: $size-padding;
}

// Toolbar
#toolbar {
    border: none;
    border-bottom: $size-padding-thin solid $colour-outer-fg;
    background: transparent;
    color: $colour-outer-fg;
    margin: $size-padding;
    padding: 0;
    padding-bottom: $size-padding-thin;
    display: flex;
    align-items: center;

    h1, .toolbar-button {
        @include font-title;
        font-size: 1.1rem;
        vertical-align: middle;
        margin: 0;
    }

    h1 {
        flex: 3;
        display: inline;
        text-align: left;
    }
    label {
        flex: 2;
        text-align: right;
        margin-right: $size-padding-thin;
    }
    #toolbar-data {
        flex: 6;
        margin-right: $size-padding-thin;
    }
    .toolbar-button {
        flex: 1;
        cursor: pointer;
        padding: $size-padding-thin;

        background-color: $colour-container-bg;
        text-align: center;

        &:not(:first-child) {
            margin-right: $size-padding-thin;
        }
    }
}
