-# playout_root.haml - Sub-root objects

%section.playout_root{ class: inspector.resource_handler_target }
  %h1=inspector.title

  %div.playout_root_contents
    - if inspector.resource
      - inspector.resource.keys.each do |child|
        = child(inspector, child)

  = navigation(inspector)
