-# player.haml - Player object

- player = inspector.resource

- var_groups = { "states" => %i{state load_state},
                 "primary-markers" => %i{position duration},
                 "secondary-markers" => %i{cue intro} }

%section.player
  %h1=inspector.title
  - player.keys.each do |id|
    = child(inspector, id) unless id == :item

  - if player[:item]
    %p.item{ class: player[:item][:type] }
      = child(inspector, :item)

  = navigation(inspector)
