-# set.haml - Set objects

%section.set{class: inspector.resource_handler_target }
  %h1=inspector.title

  %div.set_contents
    - if inspector.resource
      - inspector.resource.each do |id, item|
        = child(inspector, id)

  = navigation(inspector)
