-# item.haml - Playlist/Player item object

- item = inspector.resource

- if inspector.inner
  -# If we're in the playlist we want a very short item summary...
  = item[:type] == :null ? '(No item)' : item[:name]
  = haml(:in_links, locals: { resource_url: inspector.resource_url })
- else
  -# ...otherwise, we want a full standalone section.
  %section.item{ class: item[:type] }
    %h1= inspector.resource_url
    %dl
      -item.each do |key, value|
        %dt=key
        %dd=value
    = haml(:out_links, locals: { resource_url: inspector.resource_url })
